{% extends 'base.html.twig' %}

{% block title %}Puppy index{% endblock %}

{% block body %}
    <h1>Puppy index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for puppy in puppies %}
            <tr>
                <td>{{ puppy.id }}</td>
                <td>{{ puppy.name }}</td>
                <td>{{ puppy.color }}</td>
                <td>
                    <a href="{{ path('app_puppy_show', {'id': puppy.id}) }}">show</a>
                    <a href="{{ path('app_puppy_edit', {'id': puppy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_puppy_new') }}">Create new</a>
{% endblock %}
